* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 900px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
}

img {
    max-width: 100%;
}


